<div class="tag-container">
  <div class="tag" *ngFor="let t of tags">
    <input
      #tagCheckbox
      (input)="createTagArray(t)"
      class="form-check-input"
      type="checkbox"
      [value]="t"
    />
    &nbsp;
    <label> {{ capitalize(t) }} </label>
  </div>
</div>

<div class="btn-container">
  <button (click)="uncheckAllTags()" class="animated-button-clear">
    <span class="text">Show All</span>
    <span class="circle"></span>
  </button>

  <button (click)="filterByTagArray()" class="animated-button">
    <span class="text">Filter By Tags</span>
    <span class="circle"></span>
  </button>
</div>

<img
  *ngIf="games?.length === 0 && !loading"
  src="../../../../assets/notfound.png"
/>

<div *ngIf="loading" class="loader">
  <span></span>
</div>

<div *ngIf="games?.length > 0" class="card-container">
  <div class="card" *ngFor="let g of games">
    <a routerLink="/games/details/{{ g.id }}">{{ g.title }}</a>
    <img [src]="g.thumbnail" />
    {{ g.short_description }}<br /><br />
    Genre: {{ g.genre }} <br />
    Platform: {{ g.platform }}<br />
    Publisher: {{ g.publisher }} <br />
    Developer: {{ g.developer }}<br />
    Released On: {{ g.release_date }}<br />
  </div>
</div>
